body {
    background-color: rgb(167, 168, 175);
}

header {
    width: 100%;
    color: whitesmoke;
    background-color: rgb(0, 2, 128);
    padding: 20px;
}

footer {
    width: 100%;
    color: whitesmoke;
    background-color: rgb(34, 0, 128);
    padding: 20px;
    text-align: center;
}