body {
    background-color: darkgray;
}

header {
    width: 100%;
    background-color: yellow;
    padding: 20px;
}

footer {
    width: 100%;
    background-color: yellow;
    padding: 20px;
    text-align: center;
}